<!-- @format -->

<% layout('campgrounds/layouts/boilerplate') %>

<div class="row">
  <div class="col-6 offset-3">
    <h1 class="text-center">Add Campgrounds</h1>
    <form action="/campgrounds" method="POST">
      <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Title</label>
        <input
          type="text"
          class="form-control"
          id="exampleInputEmail1"
          name="campground[title]"
          aria-describedby="emailHelp"
        />
      </div>
      <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Location</label>
        <input
          type="text"
          class="form-control"
          id="exampleInputPassword1"
          name="campground[location]"
        />
      </div>
      <div class="mb-4">
        <label for="floatingTextarea" class="form-label">Description</label>
        <textarea
          class="form-control"
          id="floatingTextare"
          name="campground[description]"
        ></textarea>
      </div>
      <div class="mb-3">
    <label class="visually-hidden" for="inlineFormInputGroupUsername">Image Url</label>
    <div class="input-group">
      <div class="input-group-text"><i class="bi bi-link-45deg"></i></div>
      <input type="text" class="form-control" id="inlineFormInputGroupUsername" placeholder="Image_url" name="campground[img_url]">
    </div>
  </div>
      <div class="d-flex justify-content-between"">
        <button type="submit" class="btn btn-primary">Submit</button>
        <a href="/campgrounds" class="btn btn-primary">All campgrounds</a>
      </div>
    </form>
  </div>
</div>
