<% layout('layout/boilerplate') -%>

    <h1>Add Campground</h1>
    <form action="/campground" method="POST">
        <label for="title">Title</label>
        <input type="text" name="campground[title]" id="title" />

        <label for="location">Location</label>
        <input type="text" name="campground[location]" id="location" />

        <button type="submit">Submit</button>
    </form>