<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        Campground | <%= campground.title%>
    </title>
</head>
<body>
    <h3>
        <%=campground.title%>
    </h3>
    <p>
        Location: <%= campground.location%>
    </p>

    <h5><a href="/campground/<%= campground._id %>/edit">Edit Campground</a></h5>
</body>
</html>